{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  shrink-to-fit=no,  viewport-fit=cover, user-scalable=no"
        />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

        <!-- iPhone & iPad  -->
        <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />

        <link rel="stylesheet" href="{% static 'blog/style.css' %}" />

        <!-- Dynamic Title -->
        {% if title %}
        <title>Awesome Blog - {{ title }}</title>
        {% else %}
        <title>Awesome Blog</title>
        {% endif %}
    </head>

    <body>
        <header class="base-header" role="navigation" aria-label="Awesome Blog">
            <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="{% url 'blog-home' %}"
                        >Awesome Blog</a
                    >
                    <!-- START Mobile Menu Button -->
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- END Mobile Menu Button -->
                    <div
                        class="collapse navbar-collapse"
                        id="navbarNavAltMarkup"
                    >
                        <div class="navbar-nav d-flex w-100">
                            <div class="navbar-nav mr-auto">
                                <a
                                    class="nav-item nav-link"
                                    href="{% url 'blog-home' %}"
                                    >Home</a
                                >
                                <a
                                    class="nav-item nav-link"
                                    href="{% url 'blog-contact' %}"
                                    >Contact</a
                                >
                            </div>
                            <!-- START Navbar Right Side -->
                            <div class="navbar-nav  justify-content-end">
                                {% if user.is_authenticated  %}
                                    <a href="{% url 'post-create' %}" class="nav-item nav-link">Create New</a>
                                    <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                                    <a href="{% url 'profile' %}" class="nav-item nav-link">Profile</a>
                                {% else  %}
                                    <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                                    <a href="{% url 'register' %}" class="nav-item nav-link">Register</a>
                                {% endif  %}
                            </div>
                            <!-- END Navbar Right Side -->
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container" role="main">
            <!-- START Content -->
            <div class="row">
                <section class="col-md-12 mx-auto pb-2">
                    {% if messages %} {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %} {% endif %} {% block content %} {% endblock %}
                </section>
            </div>
            <!-- END Content -->
        </main>

      <!-- Footer -->
      <footer class="page-footer font-small bg-light" role="footer">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          Michal Durik && Emanuel Canzian ||
          <a href="https://mdbootstrap.com/education/bootstrap/" class="text-info"> Impressum</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
