<!-- Impressum -->
{% extends "blog/base.html"%}

<!-- Title only for this site -->
{% block title %}Impressum{% endblock %}

{% block content%}
  <article role="impressum">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <h1 class="text-center my-4 pb-3">Impressum</h1>
        <div class="impressum-address pb-4">
          <address>
            Michal Durik <br>
            Bernstrasse 6<br>
            CH-3011 Bern<br>
            Telefon: 000000000<br>
            E-Mail: test@test.ch<br>
          </address>

          <address>
            Emauenle Canzian <br>
            Bernstrasse 10<br>
            CH-3018 Bern<br>
            Telefon: 000000000<br>
            E-Mail: test@test.ch<br>
          </address>
        </div>

        <p class="text-justify">
          Lucas ipsum dolor sit amet rieekan rotta priapulin auril veers corellia b'omarr nagai tono drovian. Frozarns nassau lando troig. Solo cliegg corran ithorian. Taung choka lars terrik ansuroer jabba wat rancisis. Unu wol latter y'bith letaki ubb. Geonosian d8 neti ooryl jabba antilles. Rotta gorax melodie ree-yees. Gand gen'dai aurra atrivis. Dantari calamari dulok gunray grodin vao droch frozian. Kal amedda moff klivian jabba. Jarael kohl aka x'ting zorba. Jax c'baoth tyranus brak wicket. Darpa ponda massans padmé ponda zam.
        </p>
        <p class="text-justify">
          Vedder qrygg roos kanos. Kir ongree galen sabé mirax jerec malastare moor arkanian. Kathol vagaari rakata vestara kanos. Vao ackbar sly aleena. Massans stele daala quee. Aparo arcona gran antilles organa lando. Deliah amedda feeorin ev-9d9 ord plagueis zann rishi gordin. Hutt bardan ugnaught joh leia. Drall solo dorvalla vestara vagaari fel polis. Tyber palpatine ruurian yarael kushiban keshiri shadda. Kaleesh yoda thrackan epicanthix annoo jabiimas. Cad galen ablajeck mon aramandi. Palpatine ackbar xanatos moff.
        </p>
      </div>
    </div>
      
  </article>
{% endblock content%}
