{% extends "blog/base.html"%}

{% block content%}

<div >
  <p>Impressum</p>
  <div class="well">
    <address>
      	femory GmbH &amp; Co. KG<br>
				Fraunhoferstraße 6<br>
				D-80469 München<br>
				Telefon: +49 (0) 89 / 2000079320<br>
				E-Mail: kontakt@femory.de<br>
				http://www.femory.de<br>
		</address>

    	<address>
      			femory GmbH &amp; Co. KG<br>
				Sitz in München<br>
				Registergericht: Amtsgericht München<br>
				Handelsregisternummer: HRA 91545<br>
				UST-ID: DE 259672907<br>
		</address>
    	<p>
          Komplementärin (vertretungsberechtigt):<br>
			meandis GmbH Sitz München<br>
			Registergericht: Amtsgericht München<br>
          Handelsregisternummer: HRB 156791</p>
    <p>Geschäftsführung: Dipl.-Kfm. Jan Fischer, Regina Wagner</p>
    <p>
      Inhaltlich Verantwortlicher gemäß § 10 Absatz 3 MDStV: femory GmbH &amp; Co. KG © Copyright 2009, femory GmbH &amp;<br> Co. KG, München, Deutschland Alle Rechte vorbehalten.<br>
Text, Bilder, Grafiken, Ton, Animationen und Videos sowie deren Anordnung auf der femory Website<br>
unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze. Der Inhalt dieser Website darf nicht zu kommerziellen Zwecken kopiert, verbreitet, verändert oder Dritten zugänglich gemacht werden. Einige Seiten enthalten außerdem Bilder, die dem Copyright Dritter unterliegen.<br>
  </p></div>
</div>

{% endblock content%}
