{% extends "blog/base.html"%} {% block content%} 
<article class="blog-content mb-4 pb-2 border-bottom" role="article">
    <img
        src="{{ object.author.profile.image.url }}"
        alt="author"
        class="rounded-circle"
    />
    <div class="blog-content__body">
        <h1>
            {{ object.title }}
        </h1>
        <p class="blog-content__content">{{ object.content }}</p>

        <div class="blog-content__metadata pt-1">
            <p>
                Author:
                <a class="mr-2 text-info" href="#"> {{ object.author }}</a>
            </p>

            {% comment %} Django Date format for Europe {% endcomment %}
            <small class="text-muted"
                >Posted: {{ object.created_at | date:"d.m.Y" }}</small
            >
        </div>
        {%  if object.author == user%}
            <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
            <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
        {% endif %}
    </div>
</article>
{% endblock content%}
