{% extends "blog/base.html"%}

{% load crispy_forms_tags %}

{% block content%}

<div class="row pt-3 pb-5">
	<div class="col-8 mx-auto">
    <section class="profile-title pb-3">
        <!-- Take the logged username  -->
        <h1 class="pb-3">{{ user.username }}</h1>

        <div class="profile">
            <img
                src="{{ user.profile.image.url }}"
                alt="{{ user.username }}"
                class="rounded-circle profile-img"
            />
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </section>

      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ user_form | crispy }}
              {{ profile_form | crispy }}
          </fieldset>

          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
  </div>
</div>
{% endblock content%}
