<!-- Register -->
{% extends "blog/base.html"%} 

<!-- Title only for this site -->
{% block title %}Register{% endblock %}

<!-- Django Crispy Forms -->
{% load crispy_forms_tags %} 

{% block content%}
  <section class="row pt-3 pb-5" role="register">
    <div class="col-8 mx-auto">
      <div class="content-section">
        <!-- START FORM -->
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <!-- Titel Register -->
            <h1 class="border-bottom mb-4 pb-2 text-center">Register</h1>

            <!-- Content Form Register -->
            {{ form | crispy }}
          </fieldset>

          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sing Up</button>
          </div>
        </form>
        <!-- END FORM -->

        <!-- START Sing in -->
        <div class="border-top pt-3">
            <small class="text-muted">Already have an Account?
              <a href="{% url 'login' %}" class="ml-2">Sing In</a>
            </small>
        </div>
        <!-- END Sing in -->
      </div>
    </div>
  </section>
{% endblock content%}
